#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100vh; */
  background-color: #E6CCD6;
  object-fit: cover;
  z-index: -1;
}

.plant-container{
  display: flex;
  width: 100vw;
  /* height: 100vh; */
}

.plant-table {
  width: 50vw;
}

.plant-table th {
  background-color: #15b2dd;
  padding:3%;
  text-align:left;
  /* etc */
}

.plant-table td {
  text-align:center;
  background-color: #3bbce097;
  /* padding: 8px; */
}

.plant-illustration{
  width: 50vw;
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
